.section {
    padding: 30px 0;

    .container {
        height: inherit;
    }

    .row {
        height: inherit;
    }

    &__hero-img {

        img,
        source {
            height: auto;
            width: 100%;
        }
    }

    &--img {
        padding: 0;
    }

    &--dark {
        background: #f7f7f7;
    }

    &--hero {
        // min-height: 490px;
        padding: 0;
        height: 490px;

        .container {
            height: inherit;
        }

        .row {
            height: inherit;
        }
    }

    &--wife-school {
        // background: url("../img/wife-school.jpg") center center/cover no-repeat transparent;
        height: 720px;

        picture {

            img {
                width: 100%;
            }
        }
    }

    &--wife-school-descr {
        height: 550px;
        background: url("../img/young-couple.png") left bottom/contain no-repeat transparent;

        .container,
        .row {
            height: auto;
        }
    }

    &--conflict-types-count {
        height: 296px;
        // min-height: 296px;
        padding: 0;
    }

    &--tutor {
        padding-bottom: 0;
        height: auto;
        overflow: hidden;
        background: linear-gradient(to top, #f7f7f7 164px, #fff 164px, #fff) transparent;

        .container.container--introduce {
            // min-height: 336px;
            margin-bottom: 30px;
        }

        .container.container-fluid {
            max-width: none;
        }

        .container.container--introduce-point {
            height: 164px;
            // background: #f7f7f7;
        }
    }

    &--psycho-anno {
        background: url("../img/women.png") 20% bottom/349px no-repeat transparent;
        height: 511px;

        p {
            padding-left: 30px;
        }

        .container {
            height: auto;
        }

        .row {
            height: auto;
        }
    }
}

@media (max-width: $tablet) {
    .section {
        padding: 15px 0;

        &--wife-school {
            height: 377px;
        }

        &--wife-school-descr {
            background: url("../img/young-couple.png") left bottom/200px no-repeat transparent;
            height: 440px;

            .container:last-child {
                height: 325px;

                .row {
                    height: inherit;
                    ;
                }
            }
        }

        &--hero {
            height: auto;
        }

        &--irp-faq {
            padding: 30px 0 15px;
        }

        &--tutor {
            background: linear-gradient(to top, #f7f7f7 194px, #fff 194px, #fff) transparent;
        }

        &--psycho-anno {
            background: url("../img/women.png") 60px bottom/240px no-repeat transparent;
            height: auto;

            p {
                padding-left: 30px;
            }
        }

        &--conflict-types-count {
            height: auto;
        }
    }
}

@media (max-width: $phone) {
    .section {
        &--hero {
            .row {
                flex-flow: column nowrap;
            }

            .col-4 {
                text-align: center;
            }

            .col-4,
            .col-8 {
                flex: 1;
                width: 100%;
                max-width: none;
            }
        }

        &--wife-school {
            height: auto;

            .row {
                flex-flow: column nowrap;
            }

            .col-6 {
                flex: 1;
                max-width: none;
                width: 100%;
            }

            picture img {
                margin: 20px auto 0;
            }
        }

        &--wife-school-descr {
            background-position: center bottom;
            min-height: 700px;
            height: auto;

            .col-4 {
                display: none;
            }

            .col-8 {
                flex: 1;
                max-width: none;
                width: 100%;
            }
        }

        &--psycho-anno {
            background-image: none;

            .col-4,
            .col-5 {
                display: none;
            }

            .col-7,
            .col-8 {
                flex: 1;
                max-width: none;
                width: auto;
            }
        }
    }
}

// SECTION TITLE
@import "./components/section-title";