.slider-container {
    // min-height: 420px;
    height: 420px;
    width: 100%;
    position: relative;
}

@media (max-width: $tablet) {
    .slider-container {
        height: 270px;
    }
}

.slider-btn-prev,
.slider-btn-next {
    background: transparent;
    color: #000;
    border: 0;
    font-size: 17px;
    line-height: 23px;
    cursor: pointer;
    outline: none;

}

.slider-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    max-width: 1280px;
    transform: translateY(-150%);
    margin: 0 auto;
}

@media (max-width: $tablet) {
    .slider-controls {
        width: 100%;
        max-width: none;
    }
}

.slider-paging {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 23px;
    color: #000;

    &__current {
        flex: 0 auto;
        font-size: 23px;
        font-weight: bold;
    }

    &__total,
    &__devider {
        font-size: inherit;
        line-height: inherit;
    }
}

.slider {
    height: inherit;
    width: 100%;

    .slick-list {
        height: inherit;
    }

    .slick-track {
        height: inherit;
    }

    &-item {
        background: none center center/cover no-repeat #fff;
        height: inherit;
        position: relative;

        picture {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;

            source,
            img {
                height: 100%;
                width: auto;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: -1px;
            left: 0;
            background: linear-gradient(to right, #fff 50%, transparent);
            z-index: 1;
        }

        .container {
            height: inherit;
            position: relative;
            z-index: 2;
        }

        .row {
            height: inherit;
        }

        &__title {
            font: 42px/1 "Wichita";
            text-transform: uppercase;
            margin: 0 0 20px;
            padding: 0;
            display: inline-block;
        }

        &__text {
            display: block;
            font-size: 23px;
            margin-bottom: 20px;
        }

        &__link {
            display: inline-block;
            background: $main-color;
            color: #fff;
            text-align: center;
            text-decoration: none;
            outline: none;
            padding: 20px 50px;
        }
    }
}

@media (max-width: $tablet) {
    .slider {
        &-item {

            &__title {
                font-size: 25px;
                margin-bottom: 10px;
                max-width: 50%;
            }

            &__text {
                font-size: 14px;
                margin-bottom: 10px;
                max-width: 50%;
            }

            &__link {
                font-size: 14px;
                padding: 10px 25px;
                max-width: 50%;
            }
        }
    }
}

.reviews-slider {
    &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        outline: none;
        margin: 20px 28px 40px;

        &.slick-slide {
            display: flex;
        }

        &__photo {
            flex: 0 84px;
            height: 84px;
            border-radius: 50%;
            margin-right: 19px;
            box-shadow: 0 0 16px rgba(0, 0, 1, 0.24);
        }

        &__text {
            flex: 0 auto;
            color: #000000;
            font: 400 16px/25px "Open Sans";

            b {
                display: block;
                font-weight: 600;
                margin-bottom: 16px;
            }
        }
    }
}

@media (max-width: $tablet) {

    .reviews-slider {
        &-item {
            margin: 0 20px 0 0;

            &__photo {
                flex: 0 68px;
                height: 68px;
                border-radius: 50%;
                margin-right: 19px;
                box-shadow: 0 0 16px rgba(0, 0, 1, 0.24);
            }

            &__text {
                flex: 0 auto;
                color: #000000;
                font-size: 14px;
                line-height: 20px;

                b {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.psycho-slider {
    &-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 25px;
        width: 100%;
        outline: none;

        &.slick-slide {
            display: flex;
        }

        &-preview {
            flex: 0 550px;
            margin-right: 135px;

            img {
                height: 400px;
            }
        }

        &-content {
            flex: 0 705px;
        }

        &__title {
            font: 400 45px/34px "Wichita";
            text-transform: uppercase;
            height: 35px;
            color: #000000;
        }

        &__text {
            display: block;
            color: #000000;
            font: 400 18px/25px "Open Sans";
        }
    }
}

.psycho-slider-controls {
    text-align: center;
    width: 100%;

    &-inner {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        font-size: 24px;
        line-height: 52px;
        color: lighten(#919b21, 30%);
        font-weight: normal;
        perspective-origin: 50% 50%;
        perspective: 400px;

        span {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateY(-15deg) rotateX(45deg) skewX(0);
            height: 60px;
            width: 120px;
            background: #f7f7f7;
            z-index: 0;
        }
    }

    &__prev,
    &__next {
        background: transparent;
        border: 0;
        color: $main-color;
        cursor: pointer;
        line-height: inherit;
        text-align: center;
        font-size: inherit;
        font-weight: bold;
        outline: none;
        position: relative;
        height: 52px;
        width: 40px;
        z-index: 1;
    }
}

@media (max-width: $tablet) {
    .psycho-slider {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        &-item {
            justify-content: center;
            flex: 1;
            width: auto;

            &-preview {
                margin: 0;
            }

            &__title {
                text-align: center;
                font-size: 30px;
                line-height: 1;
            }

            &__text {
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 10px;
            }
        }
    }

    .psycho-slider-controls {
        display: none;
    }
}