.auth {
    position: relative;

    &-btn {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjUwIiB2aWV3Qm94PSIwIDAgMjUwIDUwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjA4OSA5TDIzNSAwLjc1TDI1MCA1MEgwLjkyNjAyNUwxMi4wODkgOVoiIGZpbGw9IiNGMUYxRjEiLz4KPC9zdmc+Cg==") center center/contain no-repeat transparent;
        border: 0;
        margin: 0 20px;
        padding: 21px 28px 12px 34px;
        cursor: pointer;
        outline: none;

        &__text {
            font-size: 14px;
            position: relative;
            z-index: 1;
            color: #000;
            white-space: nowrap;
        }
    }
}

@media(max-width: $tablet) {
    .auth-btn {
        padding: 4px 24px;
        margin: 4px 0;
        background-size: 80% auto;

        &__text {
            font-size: 10px;
        }
    }
}