.nav-btn {
    height: 25px;
    width: 25px;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    outline: none;

    &__item {
        background: #fff;
        flex: 0 0 1px;
        width: inherit;
    }
}

@media (max-width: $tablet) {
    .nav-btn {
        display: flex;
    }
}