.section-title {
    text-align: center;
    margin-bottom: 30px;

    &__text {
        display: inline-block;
        position: relative;
        font: 600 42px/1 "Wichita";
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 2px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            border: 1px solid $main-color;
            width: 1em;
        }

        &::before {
            right: 110%;
        }

        &::after {
            left: 110%;
        }
    }
}

@media (max-width: $tablet) {
    .section-title {
        &__text {
            font-size: 30px;
        }
    }
}