@import "./vendors/Bootstrap/bootstrap-grid.min";
@import "./vendors/Slick/slick";
@import "./vendors/Slick/slick-theme";
@import "./base/variables";

.container {
    max-width: 1280px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Wichita";
    font-weight: 400;
    src: url("../fonts/Wichita/Wichita.otf");
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff;
}

a,
p,
button {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0 0 20px;
    font: 500 16px/25px "Open Sans";
    color: #000;

    &:last-child {
        margin-bottom: 0;
    }
}

.green-color {
    color: $main-color;
}

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-main {
        color: #000;
        font: 600 26px/35px "Open Sans";
    }
}

.conflict-type-card {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    perspective: 500px;
    perspective-origin: center left;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: $main-color;
        transform: rotateY(-30deg) translate(-25%, -50%);
        height: 140px;
        width: 140px;
    }

    &__text {
        font-family: "Wichita";
        font-size: 176px;
        color: #000;
        line-height: 1;
        letter-spacing: -20px;
        position: relative;
        z-index: 1;

        span {
            font-size: 74px;
            line-height: 35px;
            letter-spacing: 0;
        }

    }
}

.logo {
    background: url("../img/logo.png") center center/100% no-repeat transparent;
    max-width: 270px;
    max-height: 147px;
    height: 147px;
    width: 270px;
    display: block;
    text-decoration: none;
    font-size: 0;
}

.btn {
    display: inline-block;
    border: 0;
    background: #a7b12d;
    position: relative;
    cursor: pointer;

    &__text {
        color: #fff;
        font-size: 16px;
    }

    &--logout {
        background: #747474;
        border-radius: 28px;
        color: #fff;
        padding: 20px 60px;
        font-size: 16px;
        line-height: 1;

        &:hover,
        &:focus {
            background: $main-color;
        }
    }
}

@media (max-width: $tablet) {
    .btn {
        &--logout {
            padding: 10px 30px;
        }
    }
}

.introduce-text {
    color: #000000;
    font: 400 30px/45px "Open Sans";
}

@media (max-width: $tablet) {
    .introduce-text {
        font-size: 23px;
        line-height: 1;
    }
}

.introduce-img {
    margin: 0 auto;
    width: 100%;

    source,
    img {
        width: inherit;
    }
}

// MAIN
.main {
    overflow-x: hidden;
}

// SLIDER
@import "./layout/slider";

// COURSES
@import "./components/course";

// HEADER
@import "./layout/header";

// HEADER AUTH
@import "./components/auth";

// POPUP
@import "./popup/auth";

// MAILING
@import "./components/mailing-form";

// NEWS
@import "./layout/news";

// PAGINATION
@import "./components/pagination";

// PROFILE
// @import "./layout/profile";
@import "./layout/profile";

// WEBINAR
@import "./components/webinar";

// SECTION
@import "./layout/section";

// FEATURES
@import "./components/feature";

// PLAN LIST
@import "./components/plan-list";

// COURSE STRUCTURE LIST
@import "./components/course-structure";

// IRP
@import "./components/irp-hero";

// WIFE SCHOOL
@import "./components/wife-school";

// LIST
@import "./components/list";

// FORM
@import "./components/form";

// FOOTER
@import "./layout/footer";

// SOCIAL LIST
@import "./components/social-list";

@media (max-width: $phone) {
    .header {
        height: auto;

        &-info {
            height: auto;
            // min-height: 0;
            flex: 0 40px;
        }

        &-nav-container {
            height: auto;
        }

        &-nav {
            flex-flow: column wrap;
        }
    }
}