@import "./vendors/Bootstrap/bootstrap-grid.min.scss";
@import "./vendors/Slick/slick.scss";
@import "./vendors/Slick/slick-theme.scss";
$main-color: #bec941;

.container {
    max-width: 1280px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Wichita";
    font-weight: 400;
    src: url("../fonts/Wichita/Wichita.otf");
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff;
}

a,
p,
button {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0 0 20px;
    font: 500 16px/25px "Open Sans";
    color: #000;

    &:last-child {
        margin-bottom: 0;
    }
}

.green-color {
    color: $main-color;
}

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-main {
        color: #000;
        font: 600 26px/35px "Open Sans";
    }
}

.conflict-type-card {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    perspective: 500px;
    perspective-origin: center left;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: $main-color;
        transform: rotateY(-30deg) translate(-25%, -50%);
        height: 140px;
        width: 140px;
    }

    &__text {
        font-family: "Wichita";
        font-size: 176px;
        color: #000;
        line-height: 1;
        letter-spacing: -20px;
        position: relative;
        z-index: 1;

        span {
            font-size: 74px;
            line-height: 35px;
            letter-spacing: 0;
        }

    }
}

.logo {
    background: url("../img/logo.png") center center/100% no-repeat transparent;
    max-width: 270px;
    max-height: 147px;
    height: 147px;
    width: 270px;
    display: block;
    text-decoration: none;
    font-size: 0;
}

.btn {
    display: inline-block;
    border: 0;
    background: #a7b12d;
    position: relative;
    cursor: pointer;

    &__text {
        color: #fff;
        font-size: 16px;
    }

    // &--login {
    //     margin: 0 20px;
    //     padding: 21px 28px 12px 34px;
    //     background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjUwIiB2aWV3Qm94PSIwIDAgMjUwIDUwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjA4OSA5TDIzNSAwLjc1TDI1MCA1MEgwLjkyNjAyNUwxMi4wODkgOVoiIGZpbGw9IiNGMUYxRjEiLz4KPC9zdmc+Cg==") center center/contain no-repeat transparent;

    //     .btn__text {
    //         position: relative;
    //         z-index: 1;
    //         color: #000;
    //     }
    // }
    &--logout {
        background: #747474;
        border-radius: 28px;
        color: #fff;
        padding: 20px 60px;
        font-size: 16px;
        line-height: 1;

        &:hover,
        &:focus {
            background: $main-color;
        }
    }
}

.introduce-text {
    color: #000000;
    font: 400 30px/45px "Open Sans";
}

.introduce-img {
    margin: 0 auto;
    width: 100%;
}

// SLIDER
.slider-container {
    min-height: 420px;
    height: 420px;
    width: 100%;
    position: relative;
}

.slider-btn-prev,
.slider-btn-next {
    background: transparent;
    color: #000;
    border: 0;
    font-size: 17px;
    line-height: 23px;
    cursor: pointer;
    outline: none;

}

.slider-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    max-width: 1280px;
    transform: translateY(-150%);
    margin: 0 auto;
}

.slider-paging {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 23px;
    color: #000;

    &__current {
        flex: 0 auto;
        font-size: 23px;
        font-weight: bold;
    }

    &__total,
    &__devider {
        font-size: inherit;
        line-height: inherit;
    }
}

.slider {
    height: inherit;
    width: 100%;

    .slick-list {
        height: inherit;
    }

    .slick-track {
        height: inherit;
    }

    &-item {
        background: none center center/cover no-repeat #fff;
        height: inherit;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to right, #fff 50%, transparent);
        }

        .container {
            height: inherit;
        }

        .row {
            height: inherit;
        }

        &__title {
            font: 42px/1 "Wichita";
            text-transform: uppercase;
            margin: 0 0 20px;
            padding: 0;
            display: inline-block;
        }

        &__text {
            display: block;
            font-size: 23px;
            margin-bottom: 20px;
        }

        &__link {
            display: inline-block;
            background: $main-color;
            color: #fff;
            text-align: center;
            text-decoration: none;
            outline: none;
            padding: 20px 50px;
        }
    }
}

.reviews-slider {
    &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        outline: none;
        margin: 20px 28px 40px;

        &.slick-slide {
            display: flex;
        }

        &__photo {
            flex: 0 84px;
            height: 84px;
            border-radius: 50%;
            margin-right: 19px;
            box-shadow: 0 0 16px rgba(0, 0, 1, 0.24);
        }

        &__text {
            flex: 0 auto;
            color: #000000;
            font: 400 16px/25px "Open Sans";

            b {
                display: block;
                font-weight: 600;
                margin-bottom: 16px;
            }
        }
    }
}

.psycho-slider {
    &-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 25px;
        width: 100%;
        outline: none;

        &.slick-slide {
            display: flex;
        }

        &-preview {
            flex: 0 550px;
            margin-right: 135px;

            img {
                height: 400px;
            }
        }

        &-content {
            flex: 0 705px;
        }

        &__title {
            font: 400 45px/34px "Wichita";
            text-transform: uppercase;
            height: 35px;
            color: #000000;
        }

        &__text {
            display: block;
            color: #000000;
            font: 400 18px/25px "Open Sans";
        }
    }
}

.psycho-slider-controls {
    text-align: center;
    width: 100%;

    &-inner {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        font-size: 24px;
        line-height: 52px;
        color: lighten(#919b21, 30%);
        font-weight: normal;
        perspective-origin: 50% 50%;
        perspective: 400px;

        span {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateY(-15deg) rotateX(45deg) skewX(0);
            height: 60px;
            width: 120px;
            background: #f7f7f7;
            z-index: 0;
        }
    }

    &__prev,
    &__next {
        background: transparent;
        border: 0;
        color: $main-color;
        cursor: pointer;
        line-height: inherit;
        text-align: center;
        font-size: inherit;
        font-weight: bold;
        outline: none;
        position: relative;
        height: 52px;
        width: 40px;
        z-index: 1;
    }
}

// COURSES
.courses {
    min-height: 532px;
    height: 532px;
    width: 100%;

    .container {
        height: inherit;
    }

    .row {
        height: inherit;
    }
}

.course {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;

    &-preview {
        height: 243px;
        width: 243px;
        flex: 0 243px;
        border-radius: 50%;
        border: 8px solid $main-color;
        margin-bottom: 38px;
    }

    &__link {
        margin-top: auto;
        text-align: center;
        width: 100%;
        font: 600 25px/30px "Wichita";
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        display: inline-block;
        width: auto;
    }

    &:hover,
    &:focus {
        .course-preview {
            box-shadow: 0px 0px 68px 0px rgba(99, 99, 99, 0.33);
        }

        .course__link {
            color: $main-color;
        }
    }
}

.cousre-list-container {
    text-align: center;
}

.course-list {
    &__caption {
        text-align: center;
        font-size: 16px;
    }

    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    &__item {
        flex: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 40px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: "";
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // top: 50%;
            // left: 50%;
            // height: 130%;
            // width: 82%;
            z-index: 0;
            transform-origin: 50% 0%;
            perspective-origin: center center;
            border: 2px solid $main-color;
        }

        // четные
        &:nth-child(odd)::after {
            transform: perspective(3000px) rotateY(-33deg) skewX(17deg);
            left: -30px;
        }

        // нечетные
        &:nth-child(even)::after {
            right: -30px;
            transform: perspective(4000px) rotateY(33deg) skewX(-21deg);
        }

        &:hover {
            &::after {
                background: $main-color;
            }

            .course-list__link {
                color: #fff;
            }
        }
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        color: #000;
        position: relative;
        z-index: 1;
        flex: 0 auto;
        width: 100%;
    }
}

// HEADER
.header {
    background: #919b21;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    height: 243px;
    min-height: 243px;
    z-index: 1;

    &-info {
        flex: 0 166px;
        height: 166px;
        min-height: 166px;
        width: 100%;

        .container {
            height: inherit;
        }

        .row {
            height: inherit;
        }
    }

    &-nav {
        &-container {
            width: 100%;
            background: #a7b12d;
            height: 74px;
            min-height: 74px;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        max-width: 1280px;
        list-style: none;
        padding: 0;
        width: 100%;

        &+.social-list {
            display: none;
        }

        &__item {
            position: relative;
            flex: 1 auto;
            text-align: center;

            &::after {
                display: none;
                content: "";
                background: $main-color;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 130%;
                width: 82%;
                z-index: 0;
                transform-origin: 50% 0%;
                perspective-origin: center center;
                transform: translate(-50%, -50%);
            }

            // четные
            &:nth-child(odd)::after {
                transform: perspective(550px) rotateY(-23deg) skewX(17deg) translate(-60%, -50%);
            }

            // нечетные
            &:nth-child(even)::after {
                transform: perspective(550px) rotateY(43deg) skewX(-21deg) translate(-50%, -50%);
            }

            // четные
            &:hover:nth-child(even)::after {
                display: block;
            }

            // нечетные
            &:hover:nth-child(odd)::after {
                display: block;
            }
        }

        &__link {
            text-align: center;
            display: block;
            height: inherit;
            width: inherit;
            color: #fff;
            position: relative;
            text-decoration: none;
            font-size: 25px;
            font-family: "Wichita";
            text-transform: uppercase;
            text-decoration: none;
            z-index: 1;
            outline: none;

            &:focus {
                text-decoration: underline;
            }
        }
    }

    &__address {
        margin: 16px 0;
        color: #fff;
    }

    &__link {
        color: #fff;
        text-decoration: none;

        &--tel {
            margin-right: 20px;

            &:last-child {
                margin: 0;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

// HEADER AUTH
.auth {
    position: relative;

    &-btn {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjUwIiB2aWV3Qm94PSIwIDAgMjUwIDUwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjA4OSA5TDIzNSAwLjc1TDI1MCA1MEgwLjkyNjAyNUwxMi4wODkgOVoiIGZpbGw9IiNGMUYxRjEiLz4KPC9zdmc+Cg==") center center/contain no-repeat transparent;
        border: 0;
        margin: 0 20px;
        padding: 21px 28px 12px 34px;
        cursor: pointer;
        outline: none;

        &__text {
            font-size: 14px;
            position: relative;
            z-index: 1;
            color: #000;
            white-space: nowrap;
        }
    }
}

.nav-btn {
    height: 25px;
    width: 25px;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    outline: none;

    &__item {
        // display: inline-block;
        background: #fff;
        flex: 0 0 1px;
        width: inherit;
    }
}

// POPUP
.auth-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 330px;
    padding: 27px;
    height: 300px;
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
    z-index: 5;

    &--active {
        display: block;
    }

    &-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        line-height: 1;

        &__input {
            flex: 0 auto;
            width: 100%;

            label {
                display: block;
                font: 400 14px/22px "Open Sans";
                color: #6c6c6c;
            }

            label+input {
                display: block;
                border-width: 0 0 1px;
                border-color: #d1d1d1;
                border-style: solid;
                width: 100%;
                outline: none;
                padding: 6px 0;
                font: 400 16px/22px "Open Sans";

                &:focus,
                &:active {
                    border-color: $main-color;
                }
            }
        }

        &__btn {
            width: 100%;
            flex: 0 40px;
            background: #fff;
            border: 1px solid $main-color;
            outline: none;
            cursor: pointer;

            &:hover,
            &:focus,
            &--active {
                background: $main-color;
                color: #fff;
            }
        }

        label.auth-popup-form-cbox {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            cursor: pointer;
            width: 100%;
        }

        &-cbox {

            &__input {
                display: none;

                &:checked+.auth-popup-form-cbox__cbox {
                    background: url("../img/check-symbol.png") center center/60% no-repeat $main-color;
                }
            }

            &__cbox {
                flex: 0 auto;
                display: inline-block;
                height: 16px;
                width: 16px;
                border: 1px solid $main-color;
                margin-right: 10px;
                line-height: 1;
            }

            &__text {
                flex: 0 auto;
                color: #000;
                font: 400 12px/1 "Open Sans";
            }
        }
    }
}

// MAIN
.main {
    overflow-x: hidden;
}

// MAILING
.mailing {
    background: url("../img/plane.png") 30% center/auto 110% no-repeat#f7f7f7;
    min-height: 311px;
    height: 311px;

    .container {
        height: inherit;
    }

    .row {
        height: inherit;
    }

    &-form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: auto;
        margin-top: 36px;
        width: 100%;

        &-item {
            flex: 0 auto;
            transform-origin: 50% 50%;
            background: #fff;
            transform: skewX(30deg);
            height: 64px;

            &__input {
                width: 330px;
                display: block;
                transform: skewX(-30deg);
                background: transparent;
                outline: none;
                padding: 24px 50px;
                font-size: 16px;
                border: 0;
            }

            &__btn {
                background: transparent;
                border: 0;
                transform: skewX(-30deg);
                height: inherit;
                color: #fff;
                width: 100%;
                text-align: center;
                cursor: pointer;
                font-size: 16px;
            }

            &--btn {
                background: $main-color;
                flex: 0 200px;
            }

            &--input {
                border: 2px solid #E2E2E2;
                border-right: none;
                flex: 0 370px;
            }
        }
    }

    &__title {
        font: 500 42px/1 "Wichita";
        text-transform: uppercase;
        margin: 0 0 20px;
        padding: 0;
    }

    &__text {
        font: 400 16px/25px "Open Sans";
    }
}

// NEWS
.news {
    height: auto;
    padding: 60px 0 80px;
    width: 100%;

    &--index-page {
        min-height: 714px;
        height: 714px;
        padding: 0;
    }

    .row {
        height: inherit;
    }

    &-section-btn {
        margin: 0 auto;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIwIiBoZWlnaHQ9IjUzIiB2aWV3Qm94PSIwIDAgMjIwIDUzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjkzNyAxMS4zMjhMMjA4LjAzOSAwLjI1Nzk5NkwyMjAgNTIuNDcxTDAuMzU0MDA0IDUyLjE0MUwxMi45MzcgMTEuMzI4WiIgZmlsbD0iI0QzRDNEMyIvPgo8L3N2Zz4K") center center/contain no-repeat transparent;
        text-decoration: none;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 1;
        padding: 26px 0 20px;
        max-width: 230px;
        position: relative;

        &:hover {
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIwIiBoZWlnaHQ9IjUzIiB2aWV3Qm94PSIwIDAgMjIwIDUzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjkzNyAxMS4zMjhMMjA4LjAzOSAwLjI1ODAwM0wyMjAgNTIuNDcxTDAuMzU0MDA0IDUyLjE0MUwxMi45MzcgMTEuMzI4WiIgZmlsbD0iI0JFQzk0MSIvPgo8L3N2Zz4K") center center/contain no-repeat transparent;
        }
    }

    &-container {
        display: grid;
        grid-template: 360px/1fr 1fr;
        grid-auto-rows: 360px;
        grid-gap: 20px;
        height: auto;
        width: 100%;
        margin-bottom: 30px;

        &--has-lead {
            height: 480px;
            grid-template: 230px/1fr 2fr;
            grid-template-areas:
                "small large"
                "small large";
        }
    }

    &-box {
        background: center center/100% 100% no-repeat $main-color;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        &-inner {
            background: linear-gradient(to bottom, transparent 10%, $main-color 90%);
            color: #fff;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            text-decoration: none;
            padding: 16px;
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 1;
        }

        &-preview {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 0;
        }

        &__category {
            flex: 0 auto;
            align-self: flex-end;
            padding: 10px 23px;
            border-radius: 19px;
            background-color: $main-color;
            text-align: center;
            margin-bottom: auto;
            font: 500 16px/1 "Open Sans";
            width: auto;
        }

        &__date {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyIiBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMTAyIDM0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCAzNEw0LjUgNEw5MSAwTDEwMS41IDM0SDBaIiBmaWxsPSIjQzRDNEM0IiBmaWxsLW9wYWNpdHk9IjAuNSIvPgo8L3N2Zz4K");
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            flex: 0 36px;
            height: 36px;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 36px;
            width: 115px;
        }

        &__title {
            flex: 0 auto;
            margin: 20px 0 0;
            padding: 0;
            font: 600 25px/1 "Wichita";
            text-transform: uppercase;

            &+.news-box__read-btn {
                margin-top: 20px;
            }

            &+.news-box__descr {
                margin-top: 20px;
            }
        }

        &__descr {
            z-index: 1;
            font: 400 16px/25px "Open Sans";
            margin-bottom: 20px;
        }

        &__read-btn {
            background: #fff;
            display: none;
            align-self: flex-start;
            line-height: 46px;
            text-align: center;
            color: #000;
            text-decoration: none;
            max-width: 190px;
            width: 100%;

            &:hover {
                color: $main-color;
            }
        }

        &--large {
            grid-area: large;
        }

        &:hover {
            .news-box__read-btn {
                display: inline-block;
            }
        }
    }
}

// PAGINATION
.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    list-style: none;
    width: 100%;

    &__item {
        flex: 0 49px;
        margin: 0 5px;
        overflow: hidden;
        height: 49px;

        &--arrow {
            .pagination__link {
                background: lighten($main-color, 10%);
                border-color: lighten($main-color, 10%);
            }

            &>.pagination__link::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                background: transparent;
                border-width: 1px;
                border-style: solid;
            }

            &:first-child .pagination__link::before {
                transform: translate(-25%, -50%) rotate(-45deg);
                border-color: #000 transparent transparent #000;
            }

            &:last-child .pagination__link::before {
                transform: translate(-75%, -50%) rotate(-45deg);
                border-color: transparent #000 #000 transparent;
            }
        }

        &--current {
            .pagination__link {
                background: $main-color;
                color: #fff;
            }
        }
    }

    &__link {
        position: relative;
        line-height: 45px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        height: 49px;
        width: 49px;
        border-radius: 50%;
        border: 2px solid $main-color;
        color: $main-color;
        outline: none;
        color: #000;
        font-weight: bold;

        &:hover,
        &:focus {
            background: $main-color;
            color: #fff;
        }
    }
}

// PROFILE
.profile {
    &-head {
        background: #f1f1f1;
        border-radius: 10px;
        padding: 12px 20px;
        margin: 50px 0 30px;

        &__text {
            padding: 20px 0;
            line-height: 1;
        }
    }

    &-body {
        margin: 30px 0 60px;
    }
}

// WEBINAR
.webinar {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    &-head {
        flex: 0 auto;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    &-body {
        background: #fff;
        box-shadow: -1.117px 31.981px 68px 0px rgba(0, 0, 0, 0.1);
        flex: 0 370px;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

    &-preview {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 16px;
        font-weight: bold;
    }

    &-link {
        background: transparent;
        position: relative;
        color: #fff;
        margin: 10px;

        &::after {
            content: "";
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA2IiBoZWlnaHQ9IjM3IiB2aWV3Qm94PSIwIDAgMjA2IDM3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4yNSA1LjkyMTk5TDE5NC4wOTYgMC40NjM5ODlMMjA2IDM3SDBMNy4yNSA1LjkyMTk5WiIgZmlsbD0iI0JFQzk0MSIvPjwvc3ZnPg==) center center/contain no-repeat transparent;
            z-index: 0;
        }


        &__text {
            position: relative;
            z-index: 1;
        }
    }
}

// SECTION
.section {
    padding: 30px 0;

    .container {
        height: inherit;
    }

    .row {
        height: inherit;
    }

    &__hero-img {
        height: auto;
        width: 100%;
    }

    &--img {
        padding: 0;
    }

    &--dark {
        background: #f7f7f7;
    }

    &--hero {
        min-height: 490px;
        padding: 0;
        height: 490px;

        .container {
            height: inherit;
        }

        .row {
            height: inherit;
        }
    }

    &--wife-school {
        background: url("../img/wife-school.png") center center/cover no-repeat transparent;
        min-height: 720px;
        height: 720px;

        .container {
            height: inherit;
        }

        .row {
            height: inherit;
        }
    }

    &--wife-school-descr {
        min-height: 550px;
        height: 550px;
        background: url("../img/young-couple.png") left bottom/contain no-repeat transparent;
    }

    &--conflict-types-count {
        height: 296px;
        min-height: 296px;
        padding: 0;
    }

    &--tutor {
        padding-bottom: 0;
        height: auto;
        overflow: hidden;
        background: linear-gradient(to top, #f7f7f7 164px, #fff 164px, #fff) transparent;

        .container.container--introduce {
            min-height: 336px;
            margin-bottom: 30px;
        }

        .container.container-fluid {
            max-width: none;
        }

        .container.container--introduce-point {
            height: 164px;
            // background: #f7f7f7;
        }
    }

    &--psycho-anno {
        background: url("../img/women.png") 397px bottom/349 no-repeat transparent;
        height: 511px;

        p {
            padding-left: 30px;
        }
    }
}

// SECTION TITLE
.section-title {
    text-align: center;
    margin-bottom: 30px;

    &__text {
        display: inline-block;
        position: relative;
        font: 600 42px/1 "Wichita";
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 2px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            border: 1px solid $main-color;
            width: 60px;
        }

        &::before {
            right: 110%;
        }

        &::after {
            left: 110%;
        }
    }
}

.wife-school {
    &__title {
        color: #000;
        font: bold 43px/55px "Open Sans";
    }

    &__text {
        color: #000;
        font: 400 18px/25px "Open Sans";
    }
}

// FEATURES
.features {
    display: grid;
    grid-gap: 20px;
    grid-template: 237px/1fr 1fr 1fr;
    grid-auto-rows: 237px;
    width: 100%;
}

.feature-card {
    border: 2px solid #eeeeee;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: none;

    &-head {
        flex: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        width: 100%;

        &__icon {
            flex: 0 50px;
            height: 60px;
            margin-right: 23px;
        }

        &__title {
            flex: 0 auto;
            color: #000000;
            font: 400 25px/34px "Wichita";
            text-transform: uppercase;
        }
    }

    &-body {
        flex: 0 auto;
        width: 100%;
    }

    &__text {
        color: #000000;
        font: 400 16px/25px "Open Sans";
    }

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 1, 0.05);
    }
}

// PLAN LIST
.plan-list {
    list-style: none;
    display: grid;
    grid-template: 66px/1fr 1fr 1fr;
    grid-gap: 60px 40px;
    counter-reset: plan-list-counter;
    padding: 0;
    margin: 50px 0;
    width: 100%;

    &__item {
        counter-increment: plan-list-counter;
        position: relative;
        padding-left: 64px;

        &::before {
            content: counter(plan-list-counter);
            background: #fff;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            font: 600 45px/50px "Wichita";
            color: $main-color;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 51px;
            width: 51px;
        }
    }

    &__text {
        color: #000000;
        font: 400 16px/25px "Open Sans";
    }
}

// COURSE STRUCTURE LIST
.course-structure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    list-style: none;

    &__item {
        height: 258px;
        width: 258px;
        flex: 0 258px;
        border: 1px solid #e8e8e8;
        padding: 49px;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        &:hover {
            background: #f7f7f7;
        }

        &:nth-child(odd) .course-structure-num::after {
            display: block;
            transform: perspective(2000px) rotateY(30deg) skewX(10deg) translate(-50%, -50%);
        }

        &:nth-child(even) .course-structure-num::after {
            display: block;
            transform: perspective(3000px) rotateY(-30deg) skewX(-10deg) translate(-70%, -50%);
        }
    }

    &-num {
        flex: 0 121px;
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 130px;
            width: 130px;
            transform-origin: 50% 50%;
            perspective-origin: 50% 50%;
            background: $main-color;
            display: none;
        }

        &__text {
            font: 600 150px/121px "Wichita";
            position: relative;
            z-index: 1;
            color: #fff;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
    }
}

// IRP
.irp-hero {
    &-img {
        display: block;
        margin: 0 auto;
        height: 370px;
        width: 275px;
    }

    &-title {
        color: #000;
        font-size: 45px;
        font-family: "Wichita";
        text-transform: uppercase;
        margin: 0 0 5px;
    }

    &-text {
        color: #000;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// WIFE SCHOOL

// LIST
.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    &-item {
        flex: 0 360px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        &__img {
            margin-bottom: 20px;
            height: 200px;
        }

        &__text {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            flex: 0 80px;
            margin: 0;
        }
    }

}

// FORM
.form {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;

    &-send-btn {
        background: $main-color;
        border: 0;
        max-width: 550px;
        width: 100%;
        cursor: pointer;

        &__text {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            padding: 19px 50px;
            text-align: center;
        }

        &--skewed {
            transform: skewX(45deg);

            .form-send-btn__text {
                display: inline-block;
                transform: skewX(-45deg);
            }
        }

    }

    &-item {
        flex: 0 60px;
        background: #F7F7F7;
        border: 2px solid #E2E2E2;
        max-width: 550px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        overflow: hidden;

        &__input {
            background: transparent;
            height: 100%;
            font-size: 16px;
            color: #000;
            font-weight: bold;
            text-align: left;
            padding: 19px 50px;
            width: 100%;
            border: 0;
            outline: none;

            &::placeholder {
                color: #c5c5c5;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--skewed {
            transform: skewX(45deg);

            &>* {
                transform: skewX(-45deg);
            }
        }

        &--active {
            background: #fff;
            border-color: $main-color;
            box-shadow: 0 0 32px rgba(0, 0, 1, 0.1);
        }
    }
}

// FOOTER
.footer {
    background: #3d3d3d;
    min-height: 86px;
    height: 86px;
    color: #fff;

    .container {
        height: inherit;
    }

    .row {
        height: inherit;
    }
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    &__item {
        flex: 0 0 41px;
        margin-left: 20px;
    }

    &__link {
        color: #fff;
        display: inline-block;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        border: 1px solid $main-color;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;

        // TODO: Пересмотреть возможность наведения в другой вид
        &--vk {
            background-image: url("../img/icons/social.svg#vk");

            &:hover,
            &:focus {
                background-color: $main-color;
                background-image: url("../img/icons/social.svg#vk-white");
            }
        }

        &--fb {
            background-image: url("../img/icons/social.svg#fb");

            &:hover,
            &:focus {
                background-color: $main-color;
                background-image: url("../img/icons/social.svg#fb-white");
            }
        }

        &--instagram {
            background-image: url("../img/icons/social.svg#instagram");

            &:hover,
            &:focus {
                background-color: $main-color;
                background-image: url("../img/icons/social.svg#instagram-white");
            }
        }
    }
}

// MEDIA GOES HERE

@media (max-width: 768px) {
    .nav-btn {
        display: flex;
    }

    .mobile-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .header {
        height: auto;

        &-info {
            height: 40px;
            min-height: 0;
            flex: 0 40px;
        }

        &-nav {
            &-container {
                background: transparent;
            }

            &+.social-list {
                display: flex;
                justify-content: center;
            }
        }
    }

    // auth
    .auth-btn {
        padding: 4px 24px;
        margin: 4px 0;
        background-size: 80% auto;

        &__text {
            font-size: 10px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        height: auto;

        &-info {
            height: auto;
            min-height: 0;
            flex: 0 40px;
        }

        &-nav-container {
            height: auto;
        }

        &-nav {
            flex-flow: column wrap;
            min-height: 360px;
        }
    }
}